POSTGRES_DB=tallerexpress
POSTGRES_USER=tallerexpress
POSTGRES_PASSWORD=cambie_esta_contrasena
POSTGRES_PORT=5433

DB_URL=jdbc:postgresql://localhost:5433/tallerexpress
DB_USER=tallerexpress
DB_PASSWORD=cambie_esta_contrasena

APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=cambie_esta_contrasena
